body,ul,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,iput{margin:0;padding:0;}
html,body{width:100%;height:100%;}
img{display: block;width:100%;height:100%}
li{list-style: none;}
.swiper-container,.swiper-wrapper,.swiper-slide{width:100%;height:100%}
.swiper-slide{ background:#262f2e url(../img/1.jpg) no-repeat center;position: relative;}
h4{font-size:1.5rem;color:yellowgreen;}
.page1 .box1{width:80%;height:40%;font-size:1.2rem;color:#fff;font-weight: 700;position: absolute;left:1rem;top:4rem}
.page1 .box1 img{position: absolute;left:0;top:0}
.page1 .box1 p{position: absolute;left:1rem}
.page1 .box1 p:nth-of-type(1){top:1.5rem}
.page1 .box1 p:nth-of-type(2){top:3rem}
.page1 .box1 p:nth-of-type(3){top:4.5rem}
.page1 .box2{width:52%;height:1.8rem;position: absolute;right:1rem;top:16rem}
.page1 .box3{width: 23%;height:4rem;position: absolute;right:1.2rem;bottom: 2.5rem;}

.page2 .box1{width:80%;height:40%;font-size:1.2rem;color:#fff;font-weight: 700;position: absolute;right:1rem;top:4rem}
.page2 .box1 img{position: absolute;left:0;top:0}
.page2 .box1 p{position: absolute;left:1rem}
.page2 .box1 p:nth-of-type(1){top:1.5rem}
.page2 .box1 p:nth-of-type(2){top:3rem}
.page2 .box1 p:nth-of-type(3){top:4.5rem}
.page2 .box2{width:30%;height:2rem;position: absolute;left:1rem;top:16rem}
.page2 .box3{width: 23%;height:4rem;position: absolute;right:1.2rem;bottom: 4.5rem;}

.page3 .box1{width:47%;height:5rem;position: absolute;left:1rem;top:3rem}
.page3 .box2{position: absolute;left:1rem;top:12rem;width:80%;height:10rem}
.page3 .box2 img{width:33%;height:50%}
.page3 .box2 :nth-child(1){position: absolute;left:0rem;top:0rem;}
.page3 .box2 :nth-child(2){position: absolute;left:2.1rem;top:-3.6rem;}
.page3 .box2 :nth-child(3){position: absolute;left:6rem;top:-3.8rem;}
.page3 .box3{width:70%;height:30%;font-size:1.2rem;color:#fff;font-weight: 700;position: absolute;right:0.8rem;bottom:4rem}
.page3 .box3 img{position: absolute;left:0;top:0}
.page3 .box3 p{position: absolute;left:2.5rem}
.page3 .box3 p:nth-of-type(1){top:3rem}
.page3 .box3 p:nth-of-type(2){top:4.5rem}
.page3 .box3 p:nth-of-type(3){top:6rem}
.page4 .box1{width:100%;height:60%;position: absolute;left:0;top:1rem}
.page4 .box1 img{position: absolute;top:2.5rem;left:0.8rem}
.page4 .box1 h4{position: absolute;left:2rem;top:3.3rem}
.page4 .box1 p:nth-of-type(1){position: absolute;left:2rem;top:6rem;width:2.5rem}
.page4 .box1 p:nth-of-type(2){position: absolute;right:0.4rem;top:8.5rem;width:3.2rem}
.page4 .box1 p:nth-of-type(3){position: absolute;left:3rem;top:14rem;width:5rem}
.page4 .box1 p:nth-of-type(4){position: absolute;right:1.5rem;top:16rem;width:5rem}
.page4 .box1 p{font-size:0.6rem;color:#fff;}
.page4 .box2{width:24%;height:15%;position: absolute;bottom: 3rem;right:1.5rem;}
.page5 .box1{width:100%;height:85%;position: absolute;left:0;top:1rem;color: #fff;font-size:0.6rem;font-weight: 700;}
.page5 .box1 h4{position: absolute;left:1.8rem;top:2.5rem}
.page5 .box1 p{position: absolute;left:3rem;-webkit-transform: rotate(-90deg)}
.page5 .box1 p:nth-of-type(1){top:6rem}
.page5 .box1 p:nth-of-type(2){top:7rem}
.page5 .box1 p:nth-of-type(3){top:8rem}
.page5 .box1 p:nth-of-type(4){top:9rem}
.page5 .box1 p:nth-of-type(5){top:10rem}
.page5 .box1 p:nth-of-type(6){top:11rem}
.page5 .box1 p:nth-of-type(7){top:12rem}
.page5 .box1 img{position: absolute;left:2rem}
.page5 .box2{width:24%;height:15%;position: absolute;bottom: 3rem;right:1.5rem;}
.page6 h4{position: absolute;left:1.8rem;top:3.5rem}
.page6 .box2{width:100%;height:34%;position: absolute;top:8rem}
.page6 .box2 :nth-child(1){position: absolute;left:0;top:0}
.page6 .box2 :nth-child(2){width:30%;height: 39%;position: absolute;left:50%;top:73%;margin:-25% -25%}
.page6 .box3{width:100%;height:40%;position: absolute;top:19rem;}
.page6 .box3 li{height:1rem;padding-left:1rem;font-size:0.6rem;color:#fff;font-weight: 800;}
.page6 .box3 li img{width:4%;height:71%;float: left;}
.page6 .box3 li span{float: left;margin-left:0.4rem}
.page7{text-align: center;color:#fff;font-size:0.75rem;line-height: 1.5rem;font-weight: 700;padding-top:30%;height:70%}
.page7 p:nth-child(even){color:yellowgreen}
.page7 p:nth-child(4){font-weight: 900;font-size: 1.5rem;}
.page7 p:nth-child(5){font-size: 0.6rem;}
.page7 :nth-child(6){width:33%;height:20%;margin:1rem 33%}
.page7 :nth-child(7){width:23%;height:16%;margin:1rem 38%}
#music{width:1rem;height:1rem;position: fixed;right:1rem;top:1rem;z-index: 999;animation: music 1s  linear infinite;}
@keyframes music{
	from{transform: rotate(0);}
	to{transform: rotate(360deg);}
}       
.up{width:1rem;height:1rem;position: fixed;bottom:1rem;left:45%;z-index: 999;animation: up 2s infinite linear;}        
@keyframes up{
	from{transform: translateY(0);opacity: 0;}
	to{transform: translateY(-1rem);opacity: 1;}
}       
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        









































